In [1]:
import pandas as pd

In [2]:
## Cargo los embeddings
import pyarrow.parquet as pq
parquet_file_path = r'C:\Users\nunez\Facultad\Factor Data\Embeddings\clean_embeddings_list.parquet'
table = pq.read_table(parquet_file_path)
df = table.to_pandas()
del table

df

,Track_ID,Token,Vector,Unnamed: 0
0,3oqWr0jDWNXxWufNogGREp,[CLS],"[0.58316207, -0.2548763, 0.5817932, -0.5525300...",0
0,3oqWr0jDWNXxWufNogGREp,la,"[0.40415204, -0.58996695, 0.21745084, -0.98326...",0
0,3oqWr0jDWNXxWufNogGREp,espera,"[0.44872144, -0.3278354, 0.37156358, -0.692034...",0
0,3oqWr0jDWNXxWufNogGREp,me,"[0.31225237, -0.18707056, 0.7082744, -0.753962...",0
0,3oqWr0jDWNXxWufNogGREp,ago,"[0.43501753, -0.3048075, 0.858199, -0.84143645...",0
...,...,...,...,...
2368,2A4A4iW4B3yoxkrgfXqtec,quiero,"[0.1059617, -0.019137062, 0.57827806, -0.33769...",2606
2368,2A4A4iW4B3yoxkrgfXqtec,conmigo,"[-0.19802892, -0.16234222, 0.4228391, -0.87569...",2606
2368,2A4A4iW4B3yoxkrgfXqtec,sabes,"[-0.33800173, 0.23601773, 0.3865745, -0.199238...",2606
2368,2A4A4iW4B3yoxkrgfXqtec,que,"[-0.47036862, -0.15992248, 0.14263812, -0.5165...",2606
2368,2A4A4iW4B3yoxkrgfXqtec,[SEP],"[0.32278353, -0.19520198, 0.46075225, -0.41845...",2606

In [3]:
rock = pd.read_csv(r"C:\Users\nunez\Facultad\Factor Data\Proyecto NLP canciones\Datasets Scrapeados\Rock_Nacional.csv")
df = pd.merge(rock,df, on="Track_ID")
del rock
df = df[["Token","Vector","Track_release_date","Track_ID"]]

In [4]:
df.head()

,Token,Vector,Track_release_date,Track_ID
0,[CLS],"[0.58316207, -0.2548763, 0.5817932, -0.5525300...",2006-04-04,3oqWr0jDWNXxWufNogGREp
1,la,"[0.40415204, -0.58996695, 0.21745084, -0.98326...",2006-04-04,3oqWr0jDWNXxWufNogGREp
2,espera,"[0.44872144, -0.3278354, 0.37156358, -0.692034...",2006-04-04,3oqWr0jDWNXxWufNogGREp
3,me,"[0.31225237, -0.18707056, 0.7082744, -0.753962...",2006-04-04,3oqWr0jDWNXxWufNogGREp
4,ago,"[0.43501753, -0.3048075, 0.858199, -0.84143645...",2006-04-04,3oqWr0jDWNXxWufNogGREp

In [5]:
df["Track_release_date"] = pd.to_datetime(df["Track_release_date"], format="mixed")
df["Década"] = (df["Track_release_date"].dt.year // 10) * 10
df

,Token,Vector,Track_release_date,Track_ID,Década
0,[CLS],"[0.58316207, -0.2548763, 0.5817932, -0.5525300...",2006-04-04,3oqWr0jDWNXxWufNogGREp,2000
1,la,"[0.40415204, -0.58996695, 0.21745084, -0.98326...",2006-04-04,3oqWr0jDWNXxWufNogGREp,2000
2,espera,"[0.44872144, -0.3278354, 0.37156358, -0.692034...",2006-04-04,3oqWr0jDWNXxWufNogGREp,2000
3,me,"[0.31225237, -0.18707056, 0.7082744, -0.753962...",2006-04-04,3oqWr0jDWNXxWufNogGREp,2000
4,ago,"[0.43501753, -0.3048075, 0.858199, -0.84143645...",2006-04-04,3oqWr0jDWNXxWufNogGREp,2000
...,...,...,...,...,...
599807,quiero,"[0.1059617, -0.019137062, 0.57827806, -0.33769...",2016-05-06,2A4A4iW4B3yoxkrgfXqtec,2010
599808,conmigo,"[-0.19802892, -0.16234222, 0.4228391, -0.87569...",2016-05-06,2A4A4iW4B3yoxkrgfXqtec,2010
599809,sabes,"[-0.33800173, 0.23601773, 0.3865745, -0.199238...",2016-05-06,2A4A4iW4B3yoxkrgfXqtec,2010
599810,que,"[-0.47036862, -0.15992248, 0.14263812, -0.5165...",2016-05-06,2A4A4iW4B3yoxkrgfXqtec,2010
599811,[SEP],"[0.32278353, -0.19520198, 0.46075225, -0.41845...",2016-05-06,2A4A4iW4B3yoxkrgfXqtec,2010

In [6]:
mean_embeddings = df.groupby(["Token","Década"])["Vector"].mean()
mean_embeddings = pd.DataFrame(mean_embeddings).reset_index()
mean_embeddings

        Token  Década                                             Vector
0         ##0    1980  [-0.12255203, 0.62738174, 0.2536687, 0.1538817...
1         ##0    1990  [0.012928829, 0.51219606, 0.26635078, -0.04944...
2         ##0    2000  [-0.017304806, 0.37430206, 0.49117604, -0.0736...
3         ##0    2010  [-0.013826412, 0.42560387, 0.35536167, -0.0219...
4         ##0    2020  [-0.05255384, 0.3976401, 0.4491216, -0.0416375...
...       ...     ...                                                ...
48179  únicos    2020  [0.19866076, -0.39793432, 0.50314707, -0.51603...
48180    útil    1990  [0.2925494, 0.23859482, 0.38289753, -0.3070522...
48181    útil    2000  [0.09353899, -0.4205814, -0.2526542, -0.664671...
48182    útil    2010  [0.76778215, 0.6603068, 0.3190232, -0.46987182...
48183  útiles    2020  [0.11340147, -0.119432464, 0.60996914, -0.1045...

[48184 rows x 3 columns]

In [7]:
mean_embeddings[mean_embeddings["Token"] == "mujer"]
mean_embeddings[mean_embeddings["Token"] == "hombre"]

        Token  Década                                             Vector
26595  hombre    1970  [0.08391239, 0.075024046, 0.08647453, -0.16806...
26596  hombre    1980  [0.064323224, -0.1079509, 0.24685831, -0.30820...
26597  hombre    1990  [0.28491998, -0.068315014, 0.16444772, -0.2949...
26598  hombre    2000  [0.04915909, -0.05775112, 0.21560991, -0.23284...
26599  hombre    2010  [0.16434057, -0.06142063, 0.21428372, -0.28775...
26600  hombre    2020  [0.11661001, -0.09732416, 0.18019682, -0.27809...

In [8]:
import torch
import numpy as np

def most_similar_word(target_token, word_embeddings, x=5):
    """
    Find the most similar word to a target token using cosine similarity on GPU.

    Parameters:
        target_token (str): The target token.
        word_embeddings (pd.DataFrame): DataFrame where each row represents a word embedding with columns "Token" and "Vector".

    Returns:
        str: The most similar word to the target token.
    """
    # Check if the target token is in the word embeddings DataFrame
    if target_token not in word_embeddings["Token"].values:
        return None  # Return None if the target token is not found in the embeddings

    # Get the embedding of the target token and move it to GPU
    target_embedding = torch.tensor(word_embeddings.loc[word_embeddings["Token"] == target_token, "Vector"].values[0], dtype=torch.float32).cuda()

    # Ensure target embedding has a 2D shape (1, embedding_dim)
    target_embedding = target_embedding.unsqueeze(0)

    # Move all word embeddings to GPU
    word_embeddings_gpu = torch.tensor(np.stack(word_embeddings["Vector"].values), dtype=torch.float32).cuda()

    # Calculate cosine similarities between the target embedding and all other word embeddings on GPU
    similarities = torch.nn.functional.cosine_similarity(target_embedding, word_embeddings_gpu)

    # Create a dictionary of similarities with word tokens as keys and similarities as values
    similarity_dict = {word: float(similarity) for word, similarity in zip(word_embeddings["Token"], similarities.cpu().numpy())}

    # Sort the dictionary by similarity values in descending order
    sorted_similarities = dict(sorted(similarity_dict.items(), key=lambda item: item[1], reverse=True))

    # Fetch the most similar word
    most_similar_word = list(sorted_similarities.keys())[:x]
    return most_similar_word

In [9]:
def decade_similarity(token,x=10):
    top_similar_decada = []
    data = {}
    for decada in mean_embeddings["Década"].unique():
        mean_embeddings_decada = mean_embeddings[mean_embeddings["Década"] == decada]
        data[decada] = most_similar_word(token,mean_embeddings_decada,x=x)
    return pd.DataFrame(data)

In [10]:
decade_similarity("ella")

      1980   1990   2000   2010   2020  1960    1970
0     ella   ella   ella   ella   ella  None    ella
1     ##la   ##la  ellos  ellos  ellos  None      él
2  también  ellas     él  verla     él  None     era
3    ellos     la     la  ellas  ellas  None   tenía
4       la  ellos  quién     la     la  None  cartón
5    quién     yo   ##la     yo     yo  None     ríe
6  después     él     yo     él  quién  None     qué
7       yo  usted  mujer  mujer     tú  None   [SEP]
8       él    qué   cómo    qué  dónde  None    niña
9    atrás     mí   aquí    mía   ##la  None     más

In [11]:
decade_similarity("hombre")

      1980     1990     2000     2010     2020  1960     1970
0   hombre   hombre   hombre   hombre   hombre  None   hombre
1  hombres    mujer  hombres  hombres     tipo  None  hombres
2    mujer      día    mujer    mujer    mujer  None       un
3     tipo     once     tipo     tipo  persona  None    viejo
4      día     tipo   marido    padre    padre  None  anciano
5    chico     niño      día  persona   humano  None    estoy
6     niño  hombres    sabio    árbol   marido  None      soy
7    amigo    chico    héroe     niño    ángel  None       no
8    sueño    amigo    ángel    ángel      día  None    tiene
9    limón    héroe    padre      día  hombres  None   humano

In [12]:
decade_similarity("mujer")

      1980     1990     2000     2010     2020  1960  1970
0    mujer    mujer    mujer    mujer    mujer  None  None
1   hombre   hombre  mujeres  mujeres  mujeres  None  None
2   esposa  mujeres   hombre   hombre   hombre  None  None
3     ella      día   esposa     dama     dama  None  None
4   ciudad     ella   marido     niña   marido  None  None
5  canción  ilusión    madre   frágil  persona  None  None
6    gente     once     dama    chica    madre  None  None
7      voz    perro  hombres  canción     ella  None  None
8    chica      con     ella   pasión  canción  None  None
9  persona   tambor   música    madre     puta  None  None

In [13]:
decade_similarity("guerra")

      1980        1990       2000      2010       2020  1960  1970
0   guerra      guerra     guerra    guerra     guerra  None  None
1    tembl       lucha    batalla   guerras    guerras  None  None
2  vueltas  revolución    guerras   batalla  conflicto  None  None
3      sal     guerras      lucha     pelea     música  None  None
4   muerte      muerte      pelea    muerte        paz  None  None
5       té  televisión  violencia    música      unión  None  None
6  máscara     policía     tierra  victoria    prisión  None  None
7      ahí    historia    función    tierra    alegría  None  None
8  después      cárcel    ilusión  historia    carrera  None  None
9   vuelta     tiranía    bandera    sangre   película  None  None

In [14]:
decade_similarity("pobreza")

       1980  1990           2000        2010      2020  1960  1970
0   pobreza  None        pobreza     pobreza   pobreza  None  None
1   fortuna  None        miseria     miseria   miseria  None  None
2   envidia  None        soledad  ignorancia     unión  None  None
3    muerte  None  desesperación     soledad   alegría  None  None
4    países  None        escasez      muerte     pobre  None  None
5  sociedad  None     injusticia   imitación  traición  None  None
6    dinero  None         pasión      cárcel     caída  None  None
7    pasión  None          ruina  injusticia   envidia  None  None
8       más  None      confusión    estación       vía  None  None
9       oro  None        ilusión      música   soledad  None  None

In [15]:
decade_similarity("mamá")

        1980     1990      2000     2010     2020  1960      1970
0       mamá     mamá      mamá     mamá     mamá  None      mamá
1         sí    vieja  fantasía     papá     papá  None      papá
2  maldición     país   también     aquí       él  None     madre
3        you  corazón   alegría   música  todavía  None        él
4      ##gie     papá    pasión  también       sí  None     padre
5        más  prisión       así      ahí     aquí  None  compañía
6       mama   pasión        él      más    quién  None       más
7       ##ón   abuela  adicción       sí      qué  None    música
8       aquí   rápido      allí       tú     sólo  None  guitarra
9      [SEP]  canción       aún     allá      acá  None    millón

In [16]:
decade_similarity("trabajo",x=20)

        1980        1990        2000      2010        2020  1960         1970
0    trabajo     trabajo     trabajo   trabajo     trabajo  None      trabajo
1     dinero        frío    trabajar    dinero    trabajar  None     trabajar
2    corazón      dinero    esfuerzo   trabaja      dinero  None         papá
3     empleo     campeón      dinero      frío   beneficio  None  ferrocarril
4       asco        papá     trabaja  descanso     negocio  None         mamá
5   sociedad      poesía     negocio    perdón      sueldo  None     guitarra
6     esposa      hambre      empleo  cinturón      oficio  None           él
7     nación       sueño        país   máscara       sueño  None  encontrarme
8    oficina      patria       sueño      peso         día  None         aqui
9        ahí          él        frío    comida     trabaja  None        obras
10     héroe   violencia        mamá  trabajos        frío  None        [SEP]
11      casa     derecho       avión      mamá  trabajador  None       millón
12     tumba         más      fútbol      papá    problema  None         lado
13   escuela     oficina         día       más         más  None        clavo
14   familia        café  trabajando  problema        país  None          ##w
15  callejón    elección      rancho   respeto         qué  None       música
16     hogar  televisión     policía  esfuerzo        mamá  None     fenómeno
17      vida   educación       lucha  material        papá  None       violín
18     suelo       pobre        pago      bebé       soñar  None        [CLS]
19        sí        país    callejón   familia       cuero  None          qué

In [17]:
decade_similarity("policía",x=20)

    1980          1990        2000         2010          2020  1960  1970
0   None       policía     policía      policía       policía  None  None
1   None        cárcel     presión       música        música  None  None
2   None    televisión    ambición         mamá           mía  None  None
3   None       ocasión    rebelión     estación       presión  None  None
4   None     educación      cámara      montaña        mañana  None  None
5   None      compañía      pasión   televisión      traición  None  None
6   None        poesía    fantasía       acción     situación  None  None
7   None       pensión        mamá       visión           vía  None  None
8   None       canción     energía        razón  manipulación  None  None
9   None     tentación     función    atmósfera      película  None  None
10  None         razón    traición         niña     porquería  None  None
11  None  comunicación   porquería      canción       víctima  None  None
12  None       melodía     alegría          tío       canción  None  None
13  None        música   situación     callejón    producción  None  None
14  None           vía          fé         robé      religión  None  None
15  None        última        cayó    reflexión        misión  None  None
16  None       emoción      cuánta         peña       alegría  None  None
17  None      fantasía        bebé      corazón         unión  None  None
18  None       energía    melodías  respiración       prisión  None  None
19  None       montaña  revolución        línea          mamá  None  None

In [18]:
decade_similarity("educación",x=20)

    1980        1990           2000        2010          2020  1960  1970
0   None   educación      educación   educación     educación  None  None
1   None     ocasión             fé       razón      espíritu  None  None
2   None  televisión         pasión    espíritu      religión  None  None
3   None      poesía       fantasía        niña         unión  None  None
4   None     policía        energía        peña          país  None  None
5   None      cárcel        alegría  revolución       alegría  None  None
6   None       razón       obsesión         tía     detención  None  None
7   None     jóvenes       adicción     alegría        música  None  None
8   None        papá           mamá      música          oído  None  None
9   None     campeón        corazón    religión      traición  None  None
10  None  difamación       rebelión       única  narcotráfico  None  None
11  None    fantasía      salvación      visión     depresión  None  None
12  None       quién        ilusión        mamá       américa  None  None
13  None        frío           país     emoción        género  None  None
14  None   tentación         cárcel     canción      política  None  None
15  None    compañía           frío       unión       prisión  None  None
16  None     salomón  contradicción       niñez          mamá  None  None
17  None     enseñar       ambición     policía       energía  None  None
18  None      sueños    imaginación    compañía         niños  None  None
19  None      pasión      compañera    atención        pánico  None  None